<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BD_SQLite_2025"
        tools:targetApi="31">

        <!-- La actividad principal (Login) -->
        <activity
            android:name=".ActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú Principal -->
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false" />

        <!-- Actividades del Menú -->
        <activity
            android:name=".GestionPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadesActivity"
            android:exported="false" />
        <activity
            android:name=".DonativosYPagosActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityConfiguraciones"
            android:exported="false" />
        <activity
            android:name=".VoluntariosActivity"
            android:exported="false" />
        <activity
            android:name=".EventosActivity"
            android:exported="false" />
        <activity
            android:name=".CirculoDonadorActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigFiscalActivity"
            android:exported="false" />
        <activity
            android:name=".DonativoActivity"
            android:exported="false" />
        <activity
            android:name=".GarantiasActivity"
            android:exported="false" />
        <activity
            android:name=".GestionDonadoresActivity"
            android:exported="false" />
        <activity
            android:name=".GestionCorporacionesActivity"
            android:exported="false" />
        <activity
            android:name=".RepresentantesActivity"
            android:exported="false" />

    </application>

</manifest>